{% extends 'base.html' %}
{% block title %}
    {{ post.title }}|{{ block.super }}
{% endblock title %}

{% block content %}
    <form method="GET" action="">
        <input type="text" name="q" placeholder="Search posts" />
        <input type="submit" value="Search"/>
    </form>
    {% for obj in object_list %}
        <div class="card" style="width: 45rem;">
            {% if obj.image %}
                <img src="{{ obj.image.url }}" class="img-responsive">
            {% endif %}
            <div class="card-body post-detail-item">
                <h5 class="card-title"><a href="{{ obj.get_absolute_url }}">
                    {% if obj.draft %}
                        <span style="color:red;">{{ obj.title }}</span>
                    {% else %}
                        {{ obj.title }}
                    {% endif %}
                    </a></h5>
                <h2>Author: {{ obj.user }}</h2>
                <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like"
                         data-size="small" data-show-faces="true" data-share="true"></div>

                    <div class="post-detail-item"><p>{{ obj.get_markdown }}</p></div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ obj.timestamp|timesince }}</li>
                    </ul>
            </div>

            <div class="card-body">
                    <a href="{% url 'post-detail' slug=obj.slug %}" class="card-link">Detail</a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">Share on
                        Facebook</a>
                    <a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20{{ request.build_absolute_uri }}/">Share
                        on Twitter</a>
            </div>
        </div>
        <div style="height: 5px"></div>
    {%  endfor %}
    <div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{object_list.next_page_number }}">next</a>
            <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}