{% extends 'base.html' %}
{% block title %}
    {{ post.title }}|{{ block.super }}
{% endblock title %}

{% block content %}
    <div class="col-sm-7 col-sm-offset-3 post-detail-item">
        {% if post.image %}
            <img src="{{ post.image.url }}" class="img-responsive">
        {% endif %}
        <h1>{{ post.title }} </h1>
        <h4>
            <small class="small">posted on</small>
            <small>{{ post.timestamp }}</small>
        </h4>
        <hr>
        <hr>

        <p class='post-detail-item'>{{ post.get_markdown }}</p>

        <hr>
        <h3>Author: {{ post.user }}</h3>
        <hr>

        <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like"
             data-size="small" data-show-faces="true" data-share="true"></div>
        <hr>
        <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
    </div>
{% endblock content %}